/* styles.css */
body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.icons i {
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

.featured {
    bac: url(novos/vec.MP4);
    padding: 50px;
    text-align: center;
}

.featured-content h1 {
    font-size: 36px;
}

.movies {
    padding: 20px;
    
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%; /* Garante que o carrossel ocupe toda a tela */
    overflow: hidden; /* Impede que imagens vazem para fora */
}

.movie-list {
    display: flex;
    overflow-x: auto; /* Permite rolagem horizontal */
    scroll-behavior: smooth; /* Suaviza a rolagem */
    white-space: nowrap; /* Mantém os itens em uma linha */
    gap: 15px;
    width: 100%; /* Garante que a lista de filmes use toda a largura do contêiner */
}

/* Para esconder a barra de rolagem no Chrome */
.movie-list::-webkit-scrollbar {
    display: none;
}
.movie-item {
    position: relative;
    font-size: 48px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
}

.movie-item:hover {
    transform: scale(1.2);
    z-index: 10;
}

.movie-item img {
    display: block;
    width: 150px;
}

.preview {
    display: block; /* Exibir o vídeo sempre */
    opacity: 0; /* Inicialmente invisível */
    width: 150px;
    height: auto;
    transition: opacity 0.3s ease-in-out; /* Transição suave */
    position: absolute;
    top: 0;
    left: 0;
}

.movie-item:hover img {
    opacity: 0; /* Em vez de display: none, isso evita problemas na transição */
}

.movie-item:hover .preview {
    opacity: 1;
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}